{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'assets/brand/logo.png' %}"  height="50" alt="" loading="lazy">
            </a>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Django Blog</a>   
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'blog:post_list' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'blog:reference_list' %}">Reference <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link active" href="{% url 'blog:post_search' %}">Search <span class="sr-only">(current)</span></a>
            </div>
            </div>
          </nav> 
          {% if request.user.is_authenticated %}   
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'account:dashboard' %}">Hi {{ request.user.username }}
                {% if request.user.profile.photo %}
                  <img src="{{ request.user.profile.photo.url }}" alt="" height="25 em">
                {% endif %}
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:password_change' %}">Change Password</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account:logout' %}">Logout</a>
              </li>
            </ul>
          {% else %}
            <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'account:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign Up</a>
              </li>
            </ul>
          {% endif %}
        <div class="container">
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="sidebar">
            <h2>My Blog</h2>
            <p>This is My Blog using Django Python. There are {% total_posts %} posts so far. </p>
            <p><a href="{% url 'blog:post_create' %}">New Post</a> | <a href="{% url 'blog:reference_create' %}">New Reference</a></p>
            <p>
                <a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a>
            </p>
            <h3>Latest posts</h3>
            {% show_latest_posts 3 %}
            <h3>Latest references</h3>
            {% show_latest_references 3 %}
            <h3>Most commented posts</h3>
            {% get_most_commented_posts as most_commented_posts %}
            <ul>
                
                {% for post in most_commented_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
                    
            </ul>
        </div>
        </div>
    </body>
</html>